<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Authentication Pending</title>
        <style>
            body { margin: 0; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; }
            body > iframe { display: block; }
            #step-up-form { position: absolute; left: -9999px; }
        </style>
    </head>
    <body>
        <iframe name=”step-up-iframe" width="{{ challengeWidth }}" height="{{ challengeHeight }}"></iframe>
        <form id="step-up-form" target=”step-up-iframe" method="post" action="{{ stepUpUrl }}">
            <input 
                type="hidden" 
                name="JWT" 
                value="{{ challengeAccessToken }}" 
            />
            <input type="hidden" name="MD" value="txn000"/>
        </form>

        <script>
            window.onload = function() { 
                var stepUpForm = document.querySelector('#step-up-form');
                if(stepUpForm) {
                    stepUpForm.submit();
                }
            }
        </script>

    </body>
</html>